@model IEnumerable<Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Category ID</th>
        <th>On Sale</th>
        <th>Stock Level</th>
    </tr>
    @foreach (var product in Model)
    {
        <tr>
            <td>@product.Name</td>
             @foreach (var child in product.Sales)
            {
                <td>@child.PricePerUnit</td>
                 
                     @foreach (var grandChild in child.Employees)
                    {
                        <td>@grandChild.FirstName</td>
                    }
                 
            }
        </tr>      
    }
</table>