@model List<BestProductSales>
@{
    ViewData["Title"] = "BestProductSale";
}

<h1>9- Retrieve the name and total revenue of the top 10 best-selling products:</h1>

<table class="table">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Product Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pc in Model)
        {
            <tr>
                <td>@pc.PName</td>
                <td>@pc.Price</td>
            </tr>
        }
    </tbody>
</table>