@model List<CategroeProductDepartment>

<h2>2- Retrieve the name and department of all categories that have at least one product on sale:</h2>

<table class="table">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Category Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pc in Model)
        {
            <tr>
                <td>@pc.DName</td>
                <td>@pc.CName</td>
            </tr>
        }
    </tbody>
</table>