@model List<CategroeProductDepartment>

<h2>2- Retrieve the name and department of all categories that have at least one product on sale:</h2>

<table class="table">
    <thead>
        <tr>
            <th>Department Name</th>
            <th>Category Name</th>
            <th>Product Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pc in Model)
        {
            <tr>
                <td>@pc.DName</td>
                <td>@pc.CName</td>
                <td>@pc.PName</td>
            </tr>
        }
    </tbody>
</table>