@model List<EmployeeSale>

<h2>Product Reviews</h2>

<table class="table">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Average Rating</th>
            <th>Product Name</th>
            <th>Average Rating</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.DepartmentName</td>
                <td>@x.FName</td>
                <td>@x.LName</td>
                <td>@x.Title</td>
            </tr>
        }
    </tbody>
</table>
