@model List<EmpSal>

<h2>4- Retrieve the name and total sales revenue of each employee in the year 2017:</h2>

<table class="table">
    <thead>
        <tr>
            <th>Employee FirstName</th>
            <th>Employee LastNmae</th>
            <th>Employee Total Sales</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var es in Model)
        {
            <tr>
                <td>@es.FirstName</td>
                <td>@es.LastNmae</td>
                <td>@es.Total</td>
            </tr>
        }
    </tbody>
</table>