@model List<ProductReview>

<h2>Product Reviews</h2>

<table class="table">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Average Rating</th>
        </tr>
    </thead>
    <tbody>
        @foreach (ProductReview productReview in Model)
        {
            <tr>
                <td>@productReview.Name</td>
                <td>@productReview.AverageRating</td>
            </tr>
        }
    </tbody>
</table>
