@model List<ProductCategory>

<h2>Product Reviews</h2>

<table class="table">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Category Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pc in Model)
        {
            <tr>
                <td>@pc.Name</td>
                <td>@pc.Price</td>
            </tr>
        }
    </tbody>
</table>