@model IEnumerable<Product>
<h2>5- Retrieve the name and stock level of the 3 products with the lowest stock level:</h2>

<table class="table">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Product StockLevel</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pc in Model)
        {
            <tr>
                <td>@pc.Name</td>
                <td>@pc.StockLevel</td>
            </tr>
        }
    </tbody>
</table>