@model IEnumerable<MyProjet.Models.Department>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div style="display: block">
    <a href="/Department/InsertDepartment/">Create a New Department</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    <a href=/Department/ViewDepartment/@item.DepartmentID>@item.DepartmentID</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
        </tr>
}
    </tbody>
</table>
