@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bestbuy Managment</h1>
    <h2>By</h2>
    <h3>
        Ahmed Ahmed
    </h3>
    <h3>
        Tilahun Gashaw
    </h3>
</div>
